/KY015_Temperature_and_humidity_sensor_module
/KY031_Shock_Sensor_Module
/KY0xx_Microphone4Beine
/KY0xx_Sensoren3Beine
/KY0xx_Sensoren4Beine
/nrf2401_master_reader
/nrf2401_master_writer
/Temperature_and_humidity_sensor_module
